.g-4 .card {
    margin-left: 163px;
    margin-top: 40px;
    width: 440px;
    height: 150px;
    box-shadow: 2px 2px 7px;
}

.heading {
    /* margin-left: 100px; */
    padding-left: 188px;
    /* text-align: center; */
    color: #000042;
}