@import url(https://db.onlinewebfonts.com/c/1ccdd11fd9d1d81756c40d7acb17d0aa?family=Circular+Spotify+Tx+T+Light);
body {
	font-family: "Circular Spotify Tx T Light", sans-serif;
 }
.modalBackground {
    width: 100vw;
    height: 200vh;
    font-family: "Circular Spotify Tx T Light", sans-serif;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    font-size: 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .upper-form{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  .option {
    font-size: 16px;
  }
  .label {
    font-size: 20px;
    font-family: "Circular Spotify Tx T Light", sans-serif;
    font-weight: bold;
    color: #212121;
    text-align: left;
    float: left;
  
  }
  .delete {
    background-color: red;
  }
  .modalContainer {
    width: 500px;
    height: 550px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px; 
     margin-top: -1000px;
    margin-left: 300px; 
  }
  
  .modalContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
    margin-top: 1rem;
    
  }
  
  .modalContainer .body {
    flex: 50%;
    display: flex;
    font-family: "Circular Spotify Tx T Light", sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
  }
  
  .modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* .modalContainer .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  } */
  
  #cancelBtn {
    background-color: crimson;
    font-family: "Circular Spotify Tx T Light", sans-serif;
  }